<html>
<head>
<script src="raphael.js"></script>
<script>

var lastpointX = 0;
var lastpointY;
var segmentY;
var segmentX;
var zero;
var prev_line_drawn = 1;
var canvas;

var valY = 20;

window.onload=function(){
     canvas= new Raphael(document.getElementById('canvas_container'), window.innerWidth, window.innerHeight);

var string ="1,2,4,,6,10,35,35,35,35,35,35,50,30,20,30,35,55,45,65,40,30,20,10,-2,-5,-6,4,-5,-8,-10";



        var splitted = string.split(","); 

	var maxY =150;
	var minY = -150;
	var numvaluesY = splitted.length;			


	rangeY = Math.abs(maxY)+Math.abs(minY);
	segmentY = canvas.height/rangeY;
	zero = canvas.height/2;	

	var timeline = 2*3600;
	var interval = 20 ;  // in seconds
	var numpointsX = timeline/interval;
	 segmentX = canvas.width/numpointsX;


	var prevpoint=zero;
	var prevX=0;
	var prevY = zero;
	var endY =0;
	

	for (var i=0;i<numvaluesY;i++){	
		var valY = splitted[i];	
		endY = zero - (valY * segmentY);
		endX = prevX+segmentX
		 var tetronimo = canvas.path("M"+" "+ prevX+" "+prevY+" L "+endX+" "+endY);  
    		tetronimo.attr({fill: 'black', stroke: 'black', 'stroke-width': 2});  0
		prevX = endX;
		prevY=endY;
	}
	lastpointX = prevX;
	lastpointY = endY;
	
	setInterval(function(){updateCanvas()},10000);
		
}

function drawSlowline(startX,endX,segmentX,startY,endY,segmentY,dir){
 	if( dir == 1 && endY >= startY)
		return;
	if(dir == -1 && endY <=startY)
		return;
	if(!dir && startX >= endX)
 		return;

	var endpX = startX + segmentX;
	var endpY = startY + segmentY;
	if(startX >=0 && startY >=0){
		var tetronimo = canvas.path("M"+" "+ startX+" "+startY+" L "+endpX+" "+endpY);  
    		tetronimo.attr({fill: 'black', stroke: 'black', 'stroke-width': 2});  
	}
	startX=endpX;
	startY=endpY;
	setTimeout(function(){drawSlowline(startX,endX,segmentX,startY,endY,segmentY)},1);				
}

function updateCanvas(){
	valY +=10;
	var delay = 100;
	var endX = lastpointX + segmentX;
	var endY = zero - (valY*segmentY);
	var segY =(endY - lastpointY)/delay;
	var segX = segmentX/delay;
	var dir = 0;

	if(endY < lastpointY )
		dir = 1;
	else if(endY > lastpointY)
		dir = -1;
	if(prev_line_drawn){
		prev_line_drawn =0;
		drawSlowline(lastpointX,endX,segX,lastpointY,endY,segY,dir);
		prev_line_drawn =1;	
	}	

	lastpointX=endX;
	lastpointY=endY;	
	
}
</script>
</head>
<body>
<div id ="canvas_container"></div>
</body>
</html>




